annotated-types==0.7.0
imageio==2.36.0
lazy_loader==0.4
networkx==3.4.1
numpy==2.0.1
ome-types==0.5.2
packaging==24.1
pandas==2.2.3
pillow==11.0.0
pydantic==2.9.2
pydantic-compat==0.1.2
pydantic_core==2.23.4
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-image==0.22.0
scipy==1.14.1
setuptools==75.1.0
six==1.16.0
tifffile==2024.8.10
typing_extensions==4.12.2
tzdata==2024.2
wheel==0.44.0
xsdata==24.3.1
