anndata==0.8.0
asciitree==0.3.3
asn1crypto==1.0.1
certifi==2024.2.2
cffi==1.15.0
chardet==3.0.4
conda==4.12.0
conda-package-handling==1.8.1
cryptography==36.0.0
fasteners==0.16
h5py==3.8.0
idna==3.6
importlib_metadata==7.1.0
natsort==8.4.0
numcodecs==0.12.1
numpy==1.24.4
ome-zarr==0.8.3
packaging==23.2
pandas==2.0.3
pycosat==0.6.3
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
ruamel-yaml-conda==0.15.100
Shapely==1.7.0
scipy==1.10.1
six==1.16.0
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==1.26.18
zarr==2.17.1
zipp==3.18.1
