anndata==0.8.0
asciitree==0.3.3
fasteners==0.19
h5py==3.8.0
mudata==0.2.3
natsort==8.4.0
numcodecs==0.12.1
numpy==1.24.4
packaging==23.2
pandas==2.0.3
python-dateutil==2.8.2
pytz==2023.3.post1
scipy==1.10.1
six==1.16.0
tzdata==2023.4
zarr==2.16.1
