asn1crypto==1.0.1
brotlipy==0.7.0
certifi==2024.2.2
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.4
colorama==0.4.4
conda==4.12.0
conda-content-trust==0+unknown
conda-package-handling==1.8.1
contourpy==1.2.0
cryptography==36.0.0
cycler==0.10.0
decorator==4.4.2
fonttools==4.50.0
idna==3.6
imageio==2.34.0
importlib_resources==6.4.0
kiwisolver==1.4.5
lazy_loader==0.3
matplotlib==3.7.5
networkx==3.2.1
numpy==1.26.4
packaging==24.0
pillow==10.2.0
pip==21.2.4
pycosat==0.6.3
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil==2.8.2
PyWavelets==1.1.1
requests==2.31.0
ruamel-yaml-conda==0.15.100
scikit-image==0.22.0
scipy==1.10.1
setuptools==61.2.0
six==1.16.0
tifffile==2024.2.12
tqdm==4.66.2
urllib3==1.26.18
wheel==0.37.1
zipp==3.18.1
