altgraph==0.17.2
array_api_compat==1.8
asciitree==0.3.3
exceptiongroup==1.2.2
fasteners==0.19
future==0.18.2
h5py==3.11.0
macholib==1.15.2
mudata==0.2.4
natsort==8.4.0
numcodecs==0.12.1
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pyarrow==17.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.1
six==1.16.0
tzdata==2024.1
zarr==2.18.2